@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Libre+Barcode+EAN13+Text&family=Odibee+Sans&family=Squada+One&family=Zen+Dots&display=swap');

body{
  margin: none;
  padding: none;
  box-sizing: border-box;  
  font-family: 'Cute Font', cursive;
  font-size: 22px;
}

.App{
  background-color: #1B212C;
  width: 100vw;
  height: 100vh; 
}

.text-light{
  color: #ffd6ae !important; 
}
nav div img{
  border-radius: 50%;
}
i{
  color: rgb(189, 61, 61);
  color: #ffd6ae;
  font-size: 14px !important;
}

.name{
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  color: #f64b29;
  font-size: 70px;
}
h2{
  color: green;
}



.cont{
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(192, 101, 101);
  position: absolute;
  top: 0;
}
